{% load static %}

<nav class="navbar p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
        <a class="navbar-brand brand-logo-mini" href="index.html"><img alt="logo" src="{% static 'assets/images/logo-mini.svg' %}"/></a>
    </div>
    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" data-toggle="minimize" type="button">
            <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                    <input class="form-control" placeholder="Search products" type="text">
                </form>
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="{% url 'user_app:home' %}">
                    <i class="mdi mdi-home text-warning"></i>
                </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block border-left">
                <a class="nav-link" href="{% url 'user_app:profile' user.id %}">
                    <i class="mdi mdi-account text-primary"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" id="profileDropdown">
                    <div class="navbar-profile">
                        <img alt="" class="img-xs rounded-circle" src="{{ user.profile.image.url }}">
                        <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ user.username | capfirst }}</p>
                        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                    </div>
                </a>
                <div aria-labelledby="profileDropdown" class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item" href="{% url 'user_app:profile' user.id %}">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-account text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject mb-1">Profile</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item" href="{% url 'user_app:logout' %}">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-logout text-danger"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject mb-1">Log out</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" data-toggle="offcanvas" type="button">
            <span class="mdi mdi-format-line-spacing"></span>
        </button>
    </div>
</nav>